.listing-item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.listing-item:hover {
    background-color: #f9f9f9;
}

.spot-link {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.spot-link:hover {
    color: #ff4449;
}

.my-listings-container h1 {
    padding: 10px;
}

.listing-item h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    padding: 10px;
}

.listing-item p {
    margin: 0;
    color: #666;
    padding: 10px;
}
