.spot-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
}

.spot-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    width: 300px;
    overflow: hidden; /* Ensure overflow hidden to hide arrows initially */
}

.spot-card:hover .arrow {
    opacity: 1; /* Show arrows when hovering over the spot card */
}

.spot-card:hover .spot-image-container .arrow {
    opacity: 0; /* Hide arrows when hovering only over the image */
}

.spot-card:hover .spot-image-container:hover .arrow {
    opacity: 1; /* Show arrows when hovering over the image */
}

.spot-card:hover .spot-image-container:hover .left-arrow {
    left: 10px; /* Adjust left position */
}

.spot-card:hover .spot-image-container:hover .right-arrow {
    right: 10px; /* Adjust right position */
}

.spot-card:hover .spot-image-container:hover .arrow:hover {
    opacity: 1;
}

.spot-card:hover .spot-image-container {
    border-radius: 12px;
    overflow: hidden;
}

.spot-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.arrow {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    opacity: 0; /* Initially hide arrows */
    position: absolute;
    top: 100px; /* Adjust top position */
    transform: translateY(-50%);
    width: 40px;
    transition: opacity 0.2s;
}

.left-arrow {
    left: -50px; /* Initial left position, off the screen */
}

.right-arrow {
    right: -50px; /* Initial right position, off the screen */
}

.arrow:hover {
    opacity: 1;
}
