.spot-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.spot-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 450px;
    height: 500px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s;
}

.spot-info {
    padding: 20px;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.spotinfo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -25px;
    width: 100%;
}
.rating {
    display: flex;
    align-items: center;
}

.rating i {
    margin-right: 5px;
}

.spot-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.spot-card:hover .arrow {
    opacity: 1;
}

.spot-card:hover .spot-image-container:hover .arrow {
    opacity: 1;
}

.spot-card:hover .spot-image-container:hover .left-arrow {
    left: 20px;
}

.spot-card:hover .spot-image-container:hover .right-arrow {
    right: 20px;
}

.spot-card:hover .spot-image-container:hover .arrow:hover {
    opacity: 1;
}

.spot-image-container {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.spot-image {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.arrow {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    height: 36px;
    width: 36px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.2s, transform 0.2s;
    filter: brightness(150%);
}

.left-arrow {
    left: -40px;
}

.right-arrow {
    right: -40px;
}

.arrow:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 1.0);
}
