.sign-up-form-container {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sign-up-form-header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.sign-up-form-header h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.sign-up-form-group {
    margin-bottom: 20px;
}

.sign-up-form-group label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.sign-up-form-group input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.sign-up-form-submit {
    padding-bottom: 10px;
    text-align: center;
}

.sign-up-form-submit button {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #ff5a5f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sign-up-form-submit button:hover {
    background-color: #ff4449;
}

.close-btn {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.close-btn:hover {
    border-radius: 50%;
    background-color: rgba(150, 150, 150, 0.1);
}

.error-handling {
    display: flex;
    flex-direction: column;
    color: #cc4539;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
