.navbar {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img {
  width: 140px; /* Adjust the width as needed */
  height: auto;
}

.navbar-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  margin-right: 20px;
  transition: color 0.3s ease;
  font-size: 20px;
}

.navbar-links a:hover {
  color: #ff5a5f;
}

.navbar-search {
  flex-grow: 1; /* Take remaining space */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.nav-search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
}

.search-btn {
  padding: 10px 20px;
  background-color: #ff5a5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.search-btn:hover {
  background-color: #ff3333;
}

.navbar-user {
  margin-left: 20px;
}

.navbar-user button {
  padding: 8px 16px;
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-user button:hover {
  color: #ff5a5f;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff; /* Change background color */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 8px 0; /* Add padding */
}

.dropdown-content a {
  color: #333; /* Change link color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu when the dropdown button is clicked */
.dropdown.show-dropdown .dropdown-content {
  display: block;
}

/* Hamburger icon */
.dropbtn {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 24px; /* Increase font size */
  cursor: pointer;
  padding: 8px; /* Add padding */
}

/* Change color on hover */
.dropbtn:hover {
  color: #ff5a5f;
}
