.photo-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.photo-modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

.photo-modal-content img {
    width: 800px;
    height: 560px;
    display: block;
}

.close-btn-photo {
    position: absolute;
    top: 25%; /* Adjust top position */
    left: 26%; /* Adjust left position */
    color: white;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border:none;
}

.close-btn-photo:hover {
    border-radius: 8px;
    background-color: rgba(200, 200, 200, 0.5);;
}
