.icon-ribbon-container {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    margin: 0 auto;
    max-width: 66.66%;
}

.icon-ribbon {
    display: flex;
    flex-wrap: nowrap;
    background-color: #f8f8f8;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon-item:hover {
    transform: scale(1.1);
}

.icon {
    font-size: 3em;
    color: #4e7fff;
}

.icon-label {
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
    font-family: Arial, sans-serif;
    font-weight: 500;
    text-align: center;
}

.show-more-btn {
    background-color: #ff385c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 15px;
}
