.spot-page {
   padding:10px;
}

.spot-header {
    position: relative;
    margin-top: 30px;
}

.spot-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-weight: bold;
    font-size: 24px;
}

.spot-page-delete-button {
    background-color: transparent;
    border: none;
    color: #ff5a5f;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ff5a5f;

}

.spot-page-delete-button:hover {
    background-color: #ff5a5f;
    color: #fff;
}

.address {
    font-size: 16px; /* Set the font size */
    color: #484848; /* Set the font color */
}

.spot-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.grid-item {
    position: relative;
    overflow: hidden; /* Ensure images do not overflow their containers */
}

.grid-item img {
    width: 100%; /* Occupy full width of container */
    height: 100%; /* Occupy full height of container */
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 8px;
    transition: transform 0.2s;
}

/* Larger first image */
.first-image {
    grid-column: span 2; /* Span two columns */
    grid-row: span 2; /* Span two rows */
    cursor: pointer;
    height: 800px;
}

/* Smaller images */
.square {
    grid-column: span 1; /* Span one column */
    grid-row: span 1; /* Span one row */
    cursor: pointer;
    height: 395px;
}

.show-all-photos-button {
    position: absolute;
    bottom: 50px;
    right: 20px;
    padding: 10px 15px;
    background-color: #fff;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}

.show-all-photos-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 2; /* Adjust line height to remove white space */
}

.show-all-photos-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.show-all-photos-button .ellipsis-icon {
    margin-right: 7px;
    font-size: 14px;
    color: black;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
}

.show-all-photos-button .ellipsis-icon .dot {
    position: absolute;
    width: 4px; /* Size of each dot */
    height: 4px; /* Size of each dot */
    background-color: black;
    border-radius: 50%;
}

.show-all-photos-button .ellipsis-icon .dot:nth-child(1) {
    top: 0;
    left: 0;
}

.show-all-photos-button .ellipsis-icon .dot:nth-child(2) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.show-all-photos-button .ellipsis-icon .dot:nth-child(3) {
    top: 0;
    right: 0;
}

.show-all-photos-button .ellipsis-icon .dot:nth-child(4) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.show-all-photos-button .ellipsis-icon .dot:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show-all-photos-button .ellipsis-icon .dot:nth-child(6) {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.show-all-photos-button .ellipsis-icon .dot:nth-child(7) {
    bottom: 0;
    left: 0;
}

.show-all-photos-button .ellipsis-icon .dot:nth-child(8) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.show-all-photos-button .ellipsis-icon .dot:nth-child(9) {
    bottom: 0;
    right: 0;
}

.description {
    font-size: 18px; /* Set the font size */
    color: #484848; /* Set the font color */
}

.price {
    font-size: 20px; /* Set the font size */
    font-weight: bold; /* Make the font bold */
}

.spotpage-info {
    padding: 10px;
    font-family: 'Circular', sans-serif;
    font-size: 18px;
}

.spotpage-info p {
    margin-bottom: 10px; /* Add spacing between paragraphs */
}

.spotpage-info .description {
    font-size: 24px; /* Larger font size for description */
    color: #484848; /* Set the font color */
}

.spotpage-info .details {
    color: #484848; /* Set the font color */
}

.spotpage-info .details span {
    font-weight: bold; /* Make the font bold */
}

.spotpage-info .rating {
    display: flex;
    align-items: center; /* Align items to the center */
    color: #ff385c; /* Set the font color */
}

.spotpage-info .rating i {
    margin-right: 5px; /* Add spacing between the star icon and the rating */
    color: #ff385c; /* Set the font color */
}
