.spot-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    gap: 10px;
    justify-content: center; /* Center the images horizontally */
    margin-bottom: 20px;
}

.grid-item {
    position: relative;
    max-width: 100%; /* Limit the width of the grid items */
}

.grid-item img {
    width: 100%;
    height: auto; /* Let the height adjust proportionally */
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.2s;
}

/* Larger first image */
.first-image {
    grid-column: span 2; /* Span two columns */
    grid-row: span 2; /* Span two rows */
}

/* Smaller images */
.square {
    grid-column: span 1; /* Span one column */
    grid-row: span 1; /* Span one row */
}

.spot-page {
    font-family: 'Circular', Arial, sans-serif; /* Apply Circular font to the entire page */
}

.name {
    font-weight: bold; /* Make the font bold */
    font-size: 24px; /* Set the font size */
}

.address {
    font-size: 16px; /* Set the font size */
    color: #484848; /* Set the font color */
}

.description {
    font-size: 18px; /* Set the font size */
    color: #484848; /* Set the font color */
}

.price {
    font-size: 20px; /* Set the font size */
    font-weight: bold; /* Make the font bold */
}

.spot-images {
    position: relative;
}

.show-all-photos-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.show-all-photos-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
